.addZip {
    -webkit-appearance: none;
    
   
}

.travel-img {
    background-image: url("../images/wing.jpeg");
    /* This made the image full screen */
    background-size: cover;
    }

.jumbotron > img{
    width: 100%;
    
}

.jumbotron {
    background-color: white;
}


.hikingTable {
    color: rgb(28, 128, 28);
    overflow-y: hidden;
}

.weatherInfoBox {
    background-color: rgba(128, 128, 128, 0.479);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 300px;
    margin: auto;
    font-size: 20px;
}

#trv-img {
    height: 400px;

}

 #map-panel {
    height: 400px;

    }

#submitBtn {
    text-align: center;
    
}  

.destinationField {
    margin: auto;
}

#zipSubmitBtn {
    background-color: rgb(9, 61, 9);
    color: white;
    

}