.addZip {
    -webkit-appearance: none;
    
   
}

.travel-img {
    background-image: url("../images/wing.jpeg");
    /* This made the image full screen */
    background-size: cover;
    }

.jumbotron > img{
    width: 100%;
    
}

.jumbotron {
    background-color: white;
}


.hikingTable {
    color: rgb(28, 128, 28);
    overflow-y: hidden;
}

.weatherInfoBox {
    background-color: rgba(128, 128, 128, 0.479);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 300px;
    margin: auto;
    font-size: 20px;
    height: 300px;
    margin-top: 45px;
}

#trv-img {
    height: 400px;

}

 #map-panel {
    height: 400px;

    }

#submitBtn {
    text-align: center;
    
}  

.destinationField {
    margin: auto;
}

#zipSubmitBtn {
    background-color: rgb(9, 61, 9);
    color: white;
    margin-top: 5px;

}

#enterText {
    color: rgb(9, 61, 9);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.city-name {
    padding-top: 45px;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 92, 38);
    text-decoration: underline;
}

#zipcode {
    color: rgb(15, 92, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    color: blue;
}

.back {
    margin:auto;
    display:block;
    background-color: rgb(9, 61, 9);
    color: white;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.modal-dialog {
    text-align: center;
}